*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
}

:root {
    --light-gray : hsl(0, 0%, 98%);
    --light-grayish-blue : hsl(236, 33%, 92%);
    --light-gblue : hsl(233, 11%, 84%);
    --light-dgblue : rgb(147, 148, 165);
    --light-vgdblue : hsl(235, 19%, 35%);
    --dark-dblue: hsl(235, 21%, 11%);
    --dark-ddblue : hsl(235, 24%, 19%);
    --dark-lgblue: hsl(234, 39%, 85%);
    --dark-blue-hover: hsl(236, 33%, 92%);
    --dark-dgblue : hsl(234, 11%, 52%);
    --dark-vdgb : hsl(233, 14%, 35%);
    --dark-vvdgb: hsl(237, 14%, 26%);
}


body {
    /* background-repeat: no-repeat;
    background-size: cover; */
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    position: relative;
    background: rgba(0, 0, 0, 0.02);
    min-height: 100vh;
}

.darkMode span {
    color: var(--dark-lgblue);
}

.darkMode .user-input input {
    color: var(--dark-lgblue);
}

.darkMode {
    background-color: var(--dark-dblue);
}

.darkMode .menu-bar .states .present {
    color: rgb(136, 136, 250);
    opacity: 0.8;
}

.darkMode .menu-bar .states .present:hover {
    opacity: 1;
}

.darkMode .user-input,
.darkMode .user-input input,
.darkMode .todo-list .task,
.darkMode .task .circle,
.darkMode .menu-bar {
    background-color: var(--dark-ddblue);
}

.darkMode .task .circle {
    border-color: var(--dark-vdgb);
}

.darkMode .circle img {
    opacity: 0;
}
  

.darkMode .todo-list p {
    color: var(--light-dgblue);
}

.darkMode .done {
    color: var(--dark-vdgb);
}

.darkMode .states p:hover {
    color: var(--dark-lgblue);
}

.darkMode .clear p:hover {
    color: var(--dark-lgblue);
    opacity: 0.8;
}


.darkMode .done span {
    color: var(--dark-vdgb);
}


.darkMode .done img{
    opacity: 1;
}

.todo {
    width: 30rem;
    padding-top: 4.3rem;
}


.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

.background-image > img{
    width: 100%;
}

header {
    color: white;
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
}


header img{
    cursor: pointer;
}

header p {
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.8rem;
}

.task .circle {
    background-color: white;
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50%;
    margin-inline: 1.2rem;
    border: 1px solid var(--light-gblue);
    cursor: pointer;
}

.circle img{
    padding-left: 6px;
    padding-top: 7px;
    
}

.done {
    text-decoration: line-through;
    color: var(--light-gblue);
}

.done .circle {
    background-image: url('images/icon-check.svg');
    background: linear-gradient(135deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
    
}

.task {
    /* width: 100%; */
    background-color: white;
    padding-block: 1rem;
    border-bottom: 1px solid rgb(147, 148, 165, 0.4);
    display: flex;
    align-items: center;
    position: relative;
}

.task span {
    margin-bottom: -5px;
    cursor: pointer;
}

.cross {
    position: absolute;
    right: 1.5rem;
    cursor: pointer;
    opacity: 0; 
    transition: all 0.5s;
}

.darkMode .done .cross {
    opacity: 0;
}

.task:hover .cross {
    opacity: 1;
}


.user-input {
    margin-block: 1.2rem;
    border-radius: 5px;
}

.user-input form {
    width: 100%;
}

.user-input input {
    border: none;
    height: 1.5rem;
    width: 95%;
}

.user-input input::first-letter {
    text-transform: uppercase;
}

.user-input input:focus {
    outline: none;
}

.user-input input::placeholder {
    opacity: 0.8;
}

.user-input .circle {
    height: 1.2rem;
    width: 1.3rem;
}

.task:first-child {
    border-radius: 5px 5px 0 0;
}

.todo-list {
    box-shadow: 2px 18px 25px rgba(0, 0, 0, 0.1);
}

.todo-list span {
    font-size: 16px;
}

.todo-list span::first-letter {
    text-transform: uppercase;
}

.menu-bar {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem;
    background-color: white;
    border-radius: 5px;
}

.menu-bar p {
    font-size: 15px;
    opacity: 0.6;
}

.menu-bar .states {
    display: flex;
    justify-content: space-between;
}

.menu-bar .states p {
    padding-inline: 0.4rem;
    font-weight: bold; 
    font-size: 14px;
    cursor: pointer;
    opacity: 0.6;
}

.present {
    color: blue;
    opacity: 1;
}

.states p:hover {
    opacity: 1;
}

.menu-bar .clear {
    color: black;
    cursor: pointer;
    opacity: 0.8;
}

.menu-bar .clear:hover {
    opacity: 1;
}

.theme-dark {
    display: none;
}

.attribution {
    margin-top: 45px;
}

.attribution { font-size: 10px; text-align: center; }
.attribution a { 
    color: hsl(228, 45%, 44%);
    font-size: 12px;
 }








